<!--The content below is only a placeholder and can be replaced.-->
<!--one way binding--->

<!--  <p>hello</p>
  <p>{{title}}</p>
  <button (click)="changeTitle()"> change</button>
<p *ngIf="title"> bhawna</p>

<!-- two way binding-->
<!--<ul>
  <input [(ngModel)]="title"/>

</ul>
<li *ngFor="let intern of arr"> {{intern.name}} {{intern.age}}</li>-->
<!--<p [appHighlight] = "name">{{name}}</p>-->

<!--name: <input #myInput/>

<p>{{name}}</p>
Name: <input [(ngModel)] = "name">
<app-login (submitname)="showName($event)" [firstname]="name"></app-login>
<app-signup></app-signup>
<!--<button (click)="goTo('login')"> Login</button>
<button (click)="goTo('signup')"> Signup</button>-->
<p>it is working</p>
<router-outlet></router-outlet>

